{% extends "restaurant/base.html" %}

{% block events %} 
    <section id="bcg" class="events">
      <div class="container">

        <div class="section-title topper pt-2">
          <h2><span>¡Orden enviada!</span></h2>
            <p class='clr'>Debería recibir un correo electrónico de confirmación o llamar pronto.</p>
        </div>

        <div class="owl-carousel events-carousel" id='bg-new'>        

            <div class="pt-2">
                <div class="row justify-content-center">
                    <div class="col-md-5 col-sm-12 text-center event-item">
                        <h3 class="pb-3">Resumen de la orden:</h3>
                        {% for item in app_items %}
                            <p>{{ item.amount }} <span class="pl-3">{{ item.name }} <span class="pl-3">{{ item.price }} Cada</span></p>
                        {% endfor %}
                        {% for item in main_items %}
                            <p>{{ item.amount }} <span class="pl-3">{{ item.name }} <span class="pl-3">{{ item.price }} Cada</span></p>
                        {% endfor %}
                        {% for item in dessert_items %}
                            <p>{{ item.amount }} <span class="pl-3">{{ item.name }} <span class="pl-3">{{ item.price }} Cada</span></p>
                        {% endfor %}
                        {% for item in drink_items %}
                            <p>{{ item.amount }} <span class="pl-3">{{ item.name }} <span class="pl-3">{{ item.price }} Cada</span></p>
                        {% endfor %}
                        <p class="font-weight-bold pt-4">Total: ${{ price }}</p>
                        <h4 >Checkout</h4>
                        <table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/c2/webapps/mpp/paypal-popup?locale.x=en_C2" title="Check out with PayPal" onclick="javascript:window.open("https://www.paypal.com/c2/webapps/mpp/paypal-popup?locale.x=en_C2','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700"); return false;"><img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/34_Yellow_CheckOut_Pill_Button.png" alt="Check out with PayPal" /></a></td></tr></table>
                    </div>
                    
                        
                </div>
            </div>
        
        </div>

      </div>
    </section>
{% endblock events %}