{% extends "restaurant/base.html" %}
{% load static %}

{% block events %} 
    <section id="bcg" class="events">
        <div class="container">

        <div class="section-title topper">
          <h2>Order <span>Food</span></h2>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class='alert alert-{{ message.tags }}'>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="owl-carousel events-carousel" id='bg-new'>        

            <form method="POST">
                {% csrf_token %}
                <div class="pt-2">
                <h2>Details</h2>
                    <div class="row event-item h-6">
                        <div class="col-lg-6 mt-5">
                            <div class="d-flex flex-row">
                                <div class="form-group form-input ml-5 mt-0">
                                    <input type="text" name="name" class="p-3 mb-4 br-1 form-check-input w-75" placeholder="Your Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5">
                            <div class="d-flex flex-row">
                                
                                <div class="form-group form-input ml-5 mt-0">
                                    <input type="email" name="email" class="p-3 mb-4 form-check-input br-1  w-75" placeholder="Your Email address">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 event-item mb-3 h-6 mt-5">
                        <div class="col-lg-6 mt-5">
                            <div class="d-flex flex-row">
                                <div class="form-group form-input  ml-5 mt-0">
                                    <input type="tel" name="phone_number" class="p-3 mb-4 form-check-input br-1  w-75" placeholder="Your Phone number">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5">
                            <div class="d-flex flex-row">
                                <div class="form-group form-input  ml-5 mt-0">
                                    <input type="text" name="location" class="p-3 mb-4 form-check-input br-1  w-75" placeholder="Your Street location">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class='mt-5' />
                </div>
                <div class="pt-2">
                    <button class="btn btn-main m-2" type="button" data-toggle="collapse" data-target="#appetizers" aria-expanded="false" aria-controls="appetizers"><i class="icofont-simple-down"></i></button>
                    <h2 class='order-title'>Appetizers</h2>
                        <div id='appetizers' class='collapse'>
                            {% for app in appetizers %}
                                <div class="row event-item ml-4 mr-0">
                                    <div class="col-6">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="app_items[]" class="form-check-input" value="{{ app.pk }}">
                                            <label class="form-check-label">{{ app.starterContent }}</label>
                                        </div>
                                        <p class="font-weight-bold pl-5">{{ app.starterPrice }}</p>
                                        
                                    </div>
                                    <div class="col-2 text-center">
                                        <div class="form-group form-input">
                                            <input type="number" name="app-items-{{ app.pk }}" class="form-check-input" value="1" min="1" max="5">
                                        </div>                                            
                                    </div>
                                    <div class="col-4 text-center" id="menuSize-lg">
                                        <img src="{% static "restaurant/images/starters/" %}{{ app.id }}.jpg" alt="" class="img-fluid">
                                    </div>
                                <p class='ml-5'>{{ app.starterDesc }}</p>
                                </div>
                                <hr />
                            {% endfor %}
                        </div>
                </div>
                <div class="pt-2">
                    <button class="btn btn-main m-2" type="button" data-toggle="collapse" data-target="#mains" aria-expanded="false" aria-controls="mains"><i class="icofont-simple-down"></i></button>
                    <h2 class='order-title'>Main Dish</h2>
                    <div id='mains'  class='collapse'>
                        {% for entre in entres %}
                            <div class="row event-item ml-4 mr-0">
                                <div class="col-6">
                                    <div class="form-group form-check">
                                        <input type="checkbox" name="main_items[]" class="form-check-input" value="{{ entre.pk }}">
                                        <label class="form-check-label">{{ entre.mainContent }}</label>
                                    </div>
                                    <p class="font-weight-bold pl-5">{{ entre.mainPrice }}</p>
                                    <div class="col-2 text-center">
                                        <div class="form-group form-input ml-5 mt-0">
                                                <input type="number" name="entre-items-{{ entre.pk }}" class="form-check-input" value="1" min="1" max="5">
                                        </div>
                                    </div>
                                    <div class="col-4 text-center" id="menuSize-lg">
                                        <img src="{% static "restaurant/images/mains/" %}{{ entre.id }}.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <p>{{ entre.mainDesc }}</p>
                            </div>
                            <hr />
                        {% endfor %}
                    </div>
                </div>
                <div class="pt-2">
                    <button class="btn btn-main m-2" type="button" data-toggle="collapse" data-target="#desserts" aria-expanded="false" aria-controls="desserts"><i class="icofont-simple-down"></i></button>
                    <h2 class='order-title'>Desserts</h2>
                    <div id='desserts'  class='collapse'> 
                        {% for dessert in desserts %}
                            <div class="row event-item mt-4">
                                <div class="col-md-8 col-sm-12">
                                    <div class="d-flex flex-row">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="dessert_items[]" class="form-check-input" value="{{ dessert.pk }}">
                                            <label class="form-check-label">{{ dessert.dessertContent }}</label>
                                        </div>
                                        <p class="font-weight-bold pl-5">{{ dessert.dessertPrice }}</p>
                                        <div class="form-group form-input ml-5 mt-0">
                                                <input type="number" name="dessert-items-{{ dessert.pk }}" class="form-check-input" value="1" min="1" max="5">
                                            </div>
                                    </div>
                                    <p>{{ dessert.dessertDesc }}</p>
                                </div>
                            </div>
                            <hr />
                        {% endfor %}
                    </div>
                </div>
                <div class="pt-2">
                <button class="btn btn-main m-2" type="button" data-toggle="collapse" data-target="#drinks" aria-expanded="false" aria-controls="drinks"><i class="icofont-simple-down"></i></button>
                    <h2 class='order-title'>Drinks</h2>
                    <div id='drinks'  class='collapse'> 
                        {% for drink in drinks %}
                            <div class="row event-item mt-4">
                                <div class="col-md-8 col-sm-12">
                                    <div class="d-flex flex-row">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="drink_items[]" class="form-check-input" value="{{ drink.pk }}">
                                            <label class="form-check-label">{{ drink.drinksContent }}</label>
                                        </div>
                                        <p class="font-weight-bold pl-5">{{ drink.drinksPrice }}</p>
                                        <div class="form-group form-input ml-5 mt-0">
                                                <input type="number" name="drink-items-{{ drink.pk }}" class="form-check-input" value="1" min="1" max="5">
                                            </div>
                                    </div>
                                    <p>{{ drink.drinksDesc }}</p>
                                </div>
                            </div>
                            <hr />
                        {% endfor %}
                    </div>
                    
                </div>
                <button id='orange' class="btn btn-dark mt-5">Place Order!</button>
            </form>

        </div>

      </div>
    </section>
{% endblock events %}
