#sliderImage{
    background-image: url('../images/ethiopian-cultural-dining.jpg' ) ;
    background: cover no-repeat !important
    
}
#specialSize img{
    height: 200px;
    width: 200px;
    border:transparent ;
    border-radius: 60%;
}
#menuSize img{
    height: 50px;
    width: 50px;
    border:transparent ;
    border-radius: 60%;
}

.topper{
    margin-top: 4rem!important;
}
#chefSize img{
    height: 300px;
    width: 300px;
}
#mapStyle{
    border:0;
     width: 100%;
      height: 350px;
}
.reservation{
    margin-top: 40rem
}
.pt-2 h2{
    color: #ffb03b;
}
.clr{
    color: white;
}
#bg-new{
    background: rgba(70, 70, 70, 0.8);
}
#bcg{
    background-image: url('../images/ethiopian-cultural-dining.jpg' ) ;
    background: cover no-repeat !important
    
}
#bcg::before {
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.form-check-input{
    color: black!important;
}
.form-check-label{
    margin-left: 3rem;
}
.lh-2{
    line-height: 2;
}

.m-2{
    margin: 2rem;
}
.order-title{
    display: inline-block;
}