{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>El Delicios d'Etiopia</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'restaurant/images/favicon.png' %}" rel="icon">
  <link href="{% static 'restaurant/images/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'restaurant/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'restaurant/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'restaurant/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'restaurant/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'restaurant/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'restaurant/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


  <link href="{% static 'restaurant/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'restaurant/css/main.css' %}" rel="stylesheet">


</head>

<body>


  <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
    <div class="container text-right">
      <i class="icofont-phone"></i>632 80 21 45
     
    </div>
  </section>

    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">
        {% for hero in heros%}
        <div class="logo mr-auto">
            <h1 class="text-light"><a href="{% url 'restaurant-home'%}"><span>{{hero.restaurantName}}</span></a></h1>
        
        </div>
        {% endfor %}

        <nav class="nav-menu d-none d-lg-block">
            <ul>
            <li class="active"><a href="{% url 'restaurant-home'%}">Home</a></li>
            <li><a href="{% url 'reservation'%}">About</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#specials">Specials</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#chefs">Chefs</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contact">Contact</a></li>

            <li class="book-a-table text-center"><a href="{% url 'reservation'%}"><i class="icofont-food-cart"></i> Delivery</a></li>
            </ul>
        </nav>
        </div>
    </header>
   {% block hero %} {% endblock %}

  <main id="main">
  {% block about %} {% endblock %}
  
  {% block why-us %} {% endblock %}

  {% block menu %} {% endblock %}
  
  {% block specials %} {% endblock %}

  {% block events %} {% endblock %}

  {% block book-a-table %} {% endblock %}

  {% block gallery %} {% endblock %}
  
  {% block chefs %} {% endblock %}

  {% block testimonials %} {% endblock %}
  
  {% block contact %} {% endblock %}

  </main>
    <footer id="footer">
        <div class="container">
        {% if footer %}
        <h3>{{ footer.footerTitle }}</h3>
        <p>{{ footer.footerBody }}</p>
        <div class="social-links">
            <a href="{{ links.twitterLink }}" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="{{ links.facebookLink }}" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="{{ links.instagramLink }}" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="{{ links.linkedinLink }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright {{ footer.year }} <strong><span>{{ footer.footerTitle }}</span></strong>. {{ footer.copyrightText }}
        </div>
        {% endif %}
        
        </div>
    </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


  <script src="{% static 'restaurant/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'restaurant/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'restaurant/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'restaurant/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'restaurant/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'restaurant/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'restaurant/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'restaurant/vendor/owl.carousel/owl.carousel.min.js' %}"></script>


  <script src="{% static 'restaurant/js/main.js' %}"></script>

</body>

</html>