{% extends "restaurant/base.html"}
{% load static %}

{% block about %} 
<br><br><br><br>
<div>
<center>
  <h1>Review Your Information:</h1>
  <!-- <strong>Your name:</strong> {{your_name}} -->
  <strong>Phone:</strong> {{your_phone}} <br>
  <strong>Email:</strong> {{your_email}} <br>
  <strong>Date:</strong> {{date}} <br>
  <strong>Time:</strong> {{time}} <br>
  <strong>Number of People:</strong> {{number_of_people}} <br>
  <strong>Message:</strong> {{message}}
  <br>
  <br><br><br>
<strong>We will contact you shortly to confirm your reservation!</strong>
<br><br><br>

</center>

</div>
{% endblock %}







   